  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="black">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
    </div>
    <div class="contenido">
      <table class="center" id="input">
        <tr><th>Write here the CSV input or</th></tr>
        <tr><th>drag and drop a CSV file to the input zone</th></tr>
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
          </th>
          <th>
            <button type="button" id="parse"> Analyze</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <div class="example">
              Click to load examples:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
              Load file:
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>
      <img src="img/csv-xxl.png" id="image-csv"/>
      <img src="img/smart_guy_thinking_hg_clr.gif" id="image"/>
      <div class="output" id="finaltable">
      </div>
    </div>
  </div>

    <footer>
          <div class="container">
              <div class="row" id="footer">
                  <div class="one-third column" id="github">
                      <a target="_blank" href="https://github.com/LambdaCode/AJAX-ECMA6-Modules-Files">GitHub Repo</a>
                  </div>
                  <div class="one-third column" id="adri">
                      <a target="_blank" href="http://adrianbzg.github.io/">Adrián Rodríguez Bazaga</a>
                  </div>
                  <div class="one-third column" id="ruda">
                      <a target="_blank" href="http://alu0100824780.github.io/">Rudolf Cicko</a>
                  </div>
              </div>
          </div>
      </footer>
